.login-container {
  margin-top: 8%;
}
.cardEnd{
  height: 520px;
  font-size: 20px;
  background-color: rgba(177, 204, 255, 0.854);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  color: black;
}
.letraboton{
  font-size: 20px;
}
.ma{
  margin-top: 10%;
}












